.footer {
    background-color:#383737ff;
    color: white;
    padding: 2rem 0;
    margin-top: auto;
    font-size: 25px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.footerContainer {
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
    padding: 0 3rem;
}
