.footer {
    background-color: #4856a3;
    color: white;
    padding: 2rem 0;
    margin-top: auto;
    width: 100%;
}

.footerContainer {
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
    padding: 0 3rem;
}
